:root {
    --mainColor: #FECC18;
    --secondaryColor: #3D3E3E;
    --white: #FAFAFA;
    --black: #252525;
}

.navbar {
    flex-wrap: nowrap !important;

    .container, .container-fluid {
        max-width: 2000px;
        --bs-gutter-x: 1rem;
    }

    .navbar-collapse {
        flex-basis: 0% !important;
    }

    .nav-item {
        margin-left: 25px;
        width: 100px;
        text-align: left;
    }

    .button {
        border: 1px solid var(--mainColor);
        border-radius: 15px;
        text-align: center;
    }

    .button:hover {
        color: var(--black);
        background-color: var(--mainColor);
    }
    
}

@media screen and (min-width: 992px) {
    .navbar-nav {
        gap: 10px;
    }

    .nav-item {
        margin-left: 0px !important;
        width: fit-content !important;
    }
}

